
/* ----------------------
clear fix hack
------------------------*/

/* Box Model Hack */
* {
  font-family: 'Raleway', sans-serif;
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
*/



/* ----------------------
Body
------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
    font-family: 'Raleway', sans-serif;
  background: url(../images/sports-wallpaper.jpeg) no-repeat center center fixed;
  background-size: cover; 
}


/* ----------------------
Header
------------------------*/

header {
  padding-bottom: 20px;
    text-align: center;
}

/* ----------------------
nav
------------------------*/


.nav ul {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: black;
  border-bottom: 1px solid; 
  border-top: 1px solid;
  text-align: center;
}

.nav li {
  float: center; 
  display: inline;
}

.nav li a{
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc;
}

.nav li a:hover {
  color: #00FFFF;
  background-color: gray; 
}



h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #00FFFF;
  font-size: 60px;
}

h2 {
  font-size: 36px;
  text-align: center;
  color: #ffff00;
  margin: 10px 0 90px;
  font-weight: 600;
}

/* ----------------------
Circle Image
------------------------*/
#container {
  height: 350px;
  width: 350px;
  background: url(../images/Screenshot1.jpg) no-repeat top center;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.img-circle {
  border-radius: 50%;
}

/* ----------------------
form
------------------------*/
.contact-details {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 12px;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;

}

input {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background: black;
  color: white;
}



/* ----------------------
main page
------------------------*/
fieldset {
  padding: 12px;
  flex-wrap: auto;
  text-align: left;
  float: center;
  display: inline-block;
  background: gray;
  color: white;
  width: 30%;
  flex-wrap: wrap;
  justify-content: space-around;
}

label {
  cursor: pointer;
}

legend {
  color: yellow;
  font-size: 24px;
}

input {
  border-radius: 4px;
  background: black;
  color: white;
  display: block;
  resize: horizontal;
}

#clear{
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 5% 37%;
  justify-content: space-around;
}

.container {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  fieldset {
    width: 32%;
  }
}

@media screen and (max-width: 660px) {
  fieldset {
    width: 49%;
  }
}

@media screen and (max-width: 460px) {
  fieldset {
    width: 100%;
  }
}


/* ----------------------
About page
------------------------*/
#About-Section {
  border-radius: 50%
  padding: 12px 12px;
  width: 50%;
  text-align: center;
  display: block;
  margin: 50px auto;
  color: white;
  font-size: 24px;
  text-align: center;
  border: 1px solid white; 
  background: black;
}

p {
  text-align: center;
  padding: 20px 30px;
}


/* ----------------------
footer 
------------------------*/
aside {
  background: #00FFFF;
  padding: 8px;
  text-align: center
  margin: 120px 0 90px;
}

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.submit {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

footer {
  background: #121212;
  padding: 85px 0 45px;
  text-align: center;
}

footer .logo {
  color: #00FFFF;
  margin-bottom: 68px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 68px;
}

footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border-top: 2px solid #44545E;
  padding: 45px 0 3px;
}
